{% extends 'base.html' %}
{% load bootstrap3 %}


{% block content %}

{% if messages %}
    {% for message in messages %}
        <h2> {{message}} </h2>
    {% endfor %}

{% endif %}

 <h1 class="text-danger text-center mt-5 mb-3"> Login </h1>
 <div class="container">
<form action="{% url 'login' %}" method="POST" >
{% csrf_token %}
<input name="username" type="text" placeholder="username" />
<input name="password" type="password" placeholder="password" />
 <button class="btn btn-danger" type="submit" >Submit</button>
 <a href="{% url 'signup' %}" class="btn btn-danger"  >SignUp</a>

 </form>
 </div>
{% endblock  %}